.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #fee;
}

.validation-summary-errors {
    border: 2px solid #fee;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
